
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexRouteData</title>
</head>
<body>
    <div> 
        <h2>@ViewBag.p1</h2>
        <h2>@ViewBag.p2</h2>
        <h2>@ViewBag.p3</h2>
        <h2>@ViewBag.p4</h2>
    </div>
</body>
</html>
